<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.0.2/dist/sweetalert2.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no,
minimal-ui">
    <style>
        #app {
            background-color: #CFD8DC;
        }
    </style>
</head>

<body>
    <div id="app">
        <v-app>
            <v-main>
                <h2 class="text-center">HISTORIAS CLÍNICAS</h2>
                <!-- Botón CREAR -->
                <v-card class="mx-auto mt-5" color="transparent" max-width="1280" elevation="0">
                    <v-btn class="mx-2" fab dark color="#5AA7A7" @click="formNuevo()">
                        <v-icon dark>mdi-plus</v-icon>
                    </v-btn>
                        <!-- Tabla y formulario -->
                        <v-simple-table class="mt-5">
                            <template v-slot:default>
                                <thead>
                                    <tr class="blue-grey darken-2">
                                        <th class="white--text">ID</th>
                                        <th class="white--text">id_paciente</th>
                                        <th class="white--text">AHF</th>
                                        <th class="white--text">APNP</th>
                                        <th class="white--text">AGO</th>
                                        <th class="white--text">APP </th>
                                        <th class="white--text">PA</th>
                                        <th class="white--text">DIAGNOSTICO</th>
                                        <th class="white--text">TRATAMIENTO</th>

                                        <th class="white--text text-center">ACCIONES</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="historia in historias" :key="historia.id">
                                        <td>{{ historia.id }}</td>
                                        <td>{{ historia.id_paciente }}</td>
                                        <td>{{ historia.AHF }}</td>
                                        <td>{{ historia.APNP }}</td>
                                        <td>{{ historia.AGO }}</td>
                                        <td>{{ historia.APP }}</td>
                                        <td>{{ historia.PA }}</td>
                                        <td>{{ historia.DIAGNOSTICO }}</td>
                                        <td>{{ historia.TRATAMIENTO }}</td>
                                        <td>
                                            <v-btn class="pink" dark small fab @click="formEditar(historia.id, historia.id_paciente, historia.AHF, historia.APNP, historia.AGO, 
                                            historia.APP, historia.PA, historia.DIAGNOSTICO, historia.TRATAMIENTO)"><v-icon>mdi-pencil</v-icon></v-btn>
                                            <v-btn class="error" fab dark small
                                                @click="borrar(historia.id)"><v-icon>mdi-delete</v- icon></v-btn>
                                        </td>
                                    </tr>
                                </tbody>
                            </template>
                        </v-simple-table>
                </v-card>
                <!-- Componente de Diálogo para CREAR y EDITAR -->
                <v-dialog v-model="dialog" max-width="80%">
                    <v-card>
                        <v-card-title class="blue-grey white--text">Historia Clínica</v-card-title>
                        <v-card-text>
                            <v-form>
                                <v-container>
                                    <v-row>
                                        <input v-model="historia.id" hidden></input>
                                        <v-col cols="12" md="4">
                                            <p>Número de identificación del paciente:</p>
                                            <v-text-field v-model="historia.id_paciente" label="id_paciente" solo
                                                required>{{historia.id_paciente}}</v-text-field>
                                        </v-col>
                                        <v-col cols="12" md="12">
                                            <p>Antecedentes Heredofamiliares</p>
                                            <v-textarea rows="5" v-model="historia.AHF" label="AHF"
                                                solo required></v-textarea>
                                        </v-col>
                                        <v-col cols="12" md="12">
                                            <p>Antecedentes Personales no Patológicos</p>
                                            <v-textarea rows="5" v-model="historia.APNP" label="APNP"
                                                solo required></v-textarea>
                                        </v-col>
                                        <v-col cols="12" md="12">
                                            <p>Antecedentes GinecoObstétricos</p>
                                            <v-textarea rows="5" v-model="historia.AGO" label="AGO"
                                                solo required></v-textarea>
                                        </v-col>
                                        <v-col cols="12" md="12">
                                            <p>Antecedentes Personales Patológicos</p>
                                            <v-textarea rows="5" v-model="historia.APP" label="APP"
                                                solo required></v-textarea>
                                        </v-col>
                                        <v-col cols="12" md="12">
                                            <p>Padecimiento Actual</p>
                                            <v-textarea rows="5" v-model="historia.PA" label="PA"
                                                solo required></v-textarea>
                                        </v-col>
                                        <v-col cols="12" md="12">
                                            <p>Diagnóstico</p>
                                            <v-textarea rows="5" v-model="historia.DIAGNOSTICO" label="DIAGNOSTICO"
                                                solo required></v-textarea>
                                        </v-col>
                                        <v-col cols="12" md="12">
                                            <p>Tratamiento e indicaciones</p>
                                            <v-textarea rows="5" v-model="historia.TRATAMIENTO" label="TRATAMIENTO"
                                                solo required></v-textarea>
                                        </v-col>                                        
                                    </v-row>
                                </v-container>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn @click="dialog=false" color="blue-grey" dark>Cancelar</v-btn>
                            <v-btn @click="guardar()" type="submit" color="purple accent-3" dark>Guardar</v-btn>
                        </v-card-actions>
                        </v-form>
                    </v-card>
                </v-dialog>
            </v-main>
        </v-app>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.js" integrity="sha512-
nqIFZC8560+CqHgXKez61MI0f9XSTKLkm0zFVm/99Wt0jSTZ7yeeYwbzyl0SGn/s8Mulbdw+ScCG41hmO2+FKw=="
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.0.2/dist/sweetalert2.all.min.js"></script>
    <script>
        let url = 'http://localhost:8000/api/historias/';
        new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data() {
                return {
                    historias: [],
                    dialog: false,
                    operacion: '',
                    historia: {
                        id: null,
                        id_paciente: '',
                        AHF: '',
                        APNP: '',
                        AGO: '',
                        APP: '',
                        PA: '',
                        DIAGNOSTICO: '',
                        TRATAMIENTO: ''
                    }
                }
            },
            created() {
                this.mostrar()
            },
            methods: {
                //MÉTODOS PARA EL CRUD
                mostrar: function () {
                    axios.get(url)
                        .then(response => {
                            this.historias = response.data;
                        })
                },
                crear: function () {
                    let parametros = {
                        id_paciente: this.historia.id_paciente, AHF: this.historia.AHF, APNP: this.historia.APNP, AGO:
                            this.historia.AGO, APP: this.historia.APP, PA: this.historia.PA,
                            DIAGNOSTICO: this.historia.DIAGNOSTICO, TRATAMIENTO: this.historia.TRATAMIENTO
                    };
                    axios.post(url, parametros)
                        .then(response => {
                            this.mostrar();
                        });
                    this.historia.id_paciente= "";
                    this.historia.AHF= "";
                    this.historia.APNP= "";
                    this.historia.AGO= "";
                    this.historia.APP= "";
                    this.historia.PA= "";
                    this.historia.DIAGNOSTICO= "";
                    this.historia.TRATAMIENTO= "";
                },
                editar: function () {
                    let parametros = {
                        id_paciente: this.historia.id_paciente, AHF: this.historia.AHF, APNP: this.historia.APNP, AGO:
                            this.historia.AGO, APP: this.historia.APP, PA: this.historia.PA,
                            DIAGNOSTICO: this.historia.DIAGNOSTICO, TRATAMIENTO: this.historia.TRATAMIENTO
                    };
                    //console.log(parametros);
                    axios.put(url + this.historia.id, parametros)
                        .then(response => {
                            this.mostrar();
                        })
                        .catch(error => {
                            console.log(error);
                        });
                },
                borrar: function (id) {
                    Swal.fire({
                        title: '¿Confirma eliminar el registro?',
                        confirmButtonText: `Confirmar`,
                        showCancelButton: true,
                    }).then((result) => {
                        if (result.isConfirmed) {
                            //procedimiento borrar
                            axios.delete(url + id)
                                .then(response => {
                                    this.mostrar();
                                });
                            Swal.fire('¡Eliminado!', '', 'success')
                        } else if (result.isDenied) {
                        }
                    });
                },
                //Botones y formularios
                guardar: function () {
                    if (this.operacion == 'crear') {
                        this.crear();
                    }
                    if (this.operacion == 'editar') {
                        this.editar();
                    }
                    this.dialog = false;
                },
                formNuevo: function () {
                    this.dialog = true;
                    this.operacion = 'crear';
                    this.historia.id_paciente= '';
                    this.historia.AHF= '';
                    this.historia.AGO= '';
                    this.historia.APP= '';
                    this.historia.PA= '';
                    this.historia.DIAGNOSTICO= '';
                    this.historia.TRATAMIENTO= '';
                },
                formEditar: function (id, id_paciente, AHF, APNP, AGO, APP, PA, DIAGNOSTICO, TRATAMIENTO) {
                    this.historia.id = id;
                    this.historia.id_paciente = id_paciente;
                    this.historia.AHF= AHF;
                    this.historia.APNP= APNP;
                    this.historia.AGO= AGO;
                    this.historia.APP= APP;
                    this.historia.PA= PA;
                    this.historia.DIAGNOSTICO= DIAGNOSTICO;
                    this.historia.TRATAMIENTO= TRATAMIENTO;
                    this.dialog = true;
                    this.operacion = 'editar';
                }
            }
        });
    </script>
</body>

</html>